html {
  background: #228691;
  font-family:'Roboto Condensed';
}

h1 {
  width: 100%;
  margin-bottom: 0;
  color: #2cab54;
  text-align: center;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #aaa;
  font-size: 0.9em;
  color: #000;
  text-align: center;
}

.my-timetable{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  background: #228691;


  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


.my-timetable th {
  font-size: 1.5em;
  color: #e6ff6d;
  cursor: pointer;
}

.my-timetable td {
  border: 1px solid #000;
  background: #8ef3ff;
  cursor: pointer;
}

.my-timetable td:hover {
  background: orange;
}

.my-timetable .selected {
  background: #2cab54;
}

label{
  color:#000;
  text-align: center;
}

select{
  background-color:#8ef3ff;
  text-align: center;

}
