<section>
  <div class="page-header">
    <h1>Collegemaps</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="collegemap in vm.collegemaps"
       ui-sref="collegemaps.view({ collegemapId: collegemap._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="collegemap.created | date:'mediumDate'"></span>
        by
        <span ng-if="collegemap.user" ng-bind="collegemap.user.displayName"></span>
        <span ng-if="!collegemap.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="collegemap.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.collegemaps.$resolved && !vm.collegemaps.length">
    No Collegemaps yet, why don't you <a ui-sref="collegemaps.create">create one</a>?
  </div>
</section>
