<div class="Containers">
  <div class="headerText">
    <h2>About Us</h2>
    <div>
      <h3>This is the Bams Dev team</h3>
    </div>
    <div class="aboutusInfo">
      <div class="row">
        <div class="col-sm-6">
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Martin"></img>
              Martin McLaughlin</h4>
            <p>Duis at suscipit nulla. Integer at sem a purus vulputate eleifend molestie nec neque. Phasellus luctus eget quam
              vitae tincidunt. In hac habitasse platea dictumst. Donec iaculis, eros eget commodo mollis, nisi augue maximus
              dui, nec vestibulum libero risus pretium erat. Morbi nec porttitor nisl, id porta nulla. Ut rutrum enim vitae
              magna porttitor sollicitudin. Cras porta dignissim eros, a tempus risus consectetur in. Vivamus ornare condimentum
              diam non varius. Sed ut dolor in turpis placerat dapibus vitae sit amet libero. Sed maximus porta neque nec
              sollicitudin. Donec euismod ante in iaculis faucibus. Proin blandit elit nibh, ac pharetra tellus iaculis quis.
              Ut vestibulum eu dolor dapibus ullamcorper.</p>
          </div>
          <br />
          <br />
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Arturs"> Arturs Timofejevs</h4>
            </img>
            <p>Duis at suscipit nulla. Integer at sem a purus vulputate eleifend molestie nec neque. Phasellus luctus eget quam
              vitae tincidunt. In hac habitasse platea dictumst. Donec iaculis, eros eget commodo mollis, nisi augue maximus
              dui, nec vestibulum libero risus pretium erat. Morbi nec porttitor nisl, id porta nulla. Ut rutrum enim vitae
              magna porttitor sollicitudin. Cras porta dignissim eros, a tempus risus consectetur in. Vivamus ornare condimentum
              diam non varius. Sed ut dolor in turpis placerat dapibus vitae sit amet libero. Sed maximus porta neque nec
              sollicitudin. Donec euismod ante in iaculis faucibus. Proin blandit elit nibh, ac pharetra tellus iaculis quis.
              Ut vestibulum eu dolor dapibus ullamcorper.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/businesswoman.svg" width="40px" height="40px" alt="Bronagh"> Bronagh Grey</h4>
            </img>
            <p>Duis at suscipit nulla. Integer at sem a purus vulputate eleifend molestie nec neque. Phasellus luctus eget quam
              vitae tincidunt. In hac habitasse platea dictumst. Donec iaculis, eros eget commodo mollis, nisi augue maximus
              dui, nec vestibulum libero risus pretium erat. Morbi nec porttitor nisl, id porta nulla. Ut rutrum enim vitae
              magna porttitor sollicitudin. Cras porta dignissim eros, a tempus risus consectetur in. Vivamus ornare condimentum
              diam non varius. Sed ut dolor in turpis placerat dapibus vitae sit amet libero. Sed maximus porta neque nec
              sollicitudin. Donec euismod ante in iaculis faucibus. Proin blandit elit nibh, ac pharetra tellus iaculis quis.
              Ut vestibulum eu dolor dapibus ullamcorper.</p>
          </div>
          <br /> 
          <br />
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Chris"> Chris Toleman</h4>
            <p>Duis at suscipit nulla. Integer at sem a purus vulputate eleifend molestie nec neque. Phasellus luctus eget quam
              vitae tincidunt. In hac habitasse platea dictumst. Donec iaculis, eros eget commodo mollis, nisi augue maximus
              dui, nec vestibulum libero risus pretium erat. Morbi nec porttitor nisl, id porta nulla. Ut rutrum enim vitae
              magna porttitor sollicitudin. Cras porta dignissim eros, a tempus risus consectetur in. Vivamus ornare condimentum
              diam non varius. Sed ut dolor in turpis placerat dapibus vitae sit amet libero. Sed maximus porta neque nec
              sollicitudin. Donec euismod ante in iaculis faucibus. Proin blandit elit nibh, ac pharetra tellus iaculis quis.
              Ut vestibulum eu dolor dapibus ullamcorper.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
