<div class="Containers">
  <div class="headerText">
    <h2>About Us</h2>
    <div>
      <h3>This is the Bams Dev team</h3>
    </div>
    <div class="aboutusInfo">
      <div class="row">
        <div class="col-sm-6">
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Martin"></img>
              Martin McLaughlin</h4>
            <p>My name is Martin McLaughlin. I've always had an interest in computers, and as soon as I got my own I was taking it apart and putting it back together. Programming was a perfect fit for my inquisitive mind and I started coding and making games when I was about 15. Nowadays most of my coding is college related, but I look forward to making stuff for myself a bit more when I have the time. I found Angular very challenging to learn, but once I wrapped my head around the file structure and the MV* model it became a lot easier. Overall, I enjoy using JavaScript despite its quirks, so being a Full-Stack JS developer could be fun!</p>
          </div>
          <br />
          <br />
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Arturs"> Arturs Timofejevs</h4>
            </img>
            <p>Hello my fellow people. I am Arturs Timofejevs. I like spaaaaaace and milk and computers. Now this looks like a job for me so everybody just follow me if you need a little controversy because it feels so empty without me. In my spare time I jerk off really well. All hail Motherland Latvia!!!!!!!!!!!!!!!!!!!!!! I also like to say one thing but completely mean the other thing. So if I say look right! you best believe I be meaning look left. That's just how I role. The best way to nail a comeback is to repeat what the other person said, gets them 60% of the time...everytime. *Dabs into the distance*</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/businesswoman.svg" width="40px" height="40px" alt="Bronagh"> Bronagh Gray</h4>
            </img>
            <p>Hello World! I'm Bronagh, one of the (best) members of BAMSDev. I'm a third year student of Web Development and Creative Media at IT Sligo. I've only been studying computers for five years but it has been the best five years of my life! I have a passion for coding and design that I bring to every project I take on. Also I love all animals, especially dogs though, TV Shows and Movies, and Harry Potter! I can't play any sports but I like to pretend I do by saying "yeah, I sports". I also find spelling words wrong EXTREMLY funny and laugh for hours on end at them and then I write them down so I can laugh again later on.</p>
          </div>
          <br /> 
          <br />
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Chris"> Chris Toleman</h4>
            <p>Hi, my name is Chris. I took an interest to coding around 3 and a half years ago. I saw my first web page built in HTML by my friend and it really intrigued me as to how it worked. From there I went to Sligo IT to study Web Development and have really enjoyed the transition of going from basic HTML and CSS to more complex languages such as ASP.NET and Javascript. The biggest challenge was to learn the MEAN.JS stack to delveop this site but it has been very beneficial to learn. I am motivated to continue learning more about web development and hopefully one day become a free lancer and work for myself. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
