<div class="Containers">
  <div class="headerText">
    <h2>About Us</h2>
    <div>
      <h3>This is the Bams Dev team</h3>
    </div>
    <div class="aboutusInfo">
      <div class="row">
        <div class="col-sm-6">
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Martin"></img>
              Martin McLaughlin</h4>
            <p>My name is Martin McLaughlin. I've always had an interest in computers, and as soon as I got my own I was taking it apart and putting it back together. Programming was a perfect fit for my inquisitive mind and I started coding and making games when I was about 15. Nowadays most of my coding is college related, but I look forward to making stuff for myself a bit more when I have the time. I found Angular very challenging to learn, but once I wrapped my head around the file structure and the MV* model it became a lot easier. Overall, I enjoy using JavaScript despite its quirks, so being a Full-Stack JS developer could be fun!</p>
          </div>
          <br />
          <br />
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Arturs"> Arturs Timofejevs</h4>
            </img>
            <p>Duis at suscipit nulla. Integer at sem a purus vulputate eleifend molestie nec neque. Phasellus luctus eget quam
              vitae tincidunt. In hac habitasse platea dictumst. Donec iaculis, eros eget commodo mollis, nisi augue maximus
              dui, nec vestibulum libero risus pretium erat. Morbi nec porttitor nisl, id porta nulla. Ut rutrum enim vitae
              magna porttitor sollicitudin. Cras porta dignissim eros, a tempus risus consectetur in. Vivamus ornare condimentum
              diam non varius. Sed ut dolor in turpis placerat dapibus vitae sit amet libero. Sed maximus porta neque nec
              sollicitudin. Donec euismod ante in iaculis faucibus. Proin blandit elit nibh, ac pharetra tellus iaculis quis.
              Ut vestibulum eu dolor dapibus ullamcorper.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/businesswoman.svg" width="40px" height="40px" alt="Bronagh"> Bronagh Grey</h4>
            </img>
            <p>Duis at suscipit nulla. Integer at sem a purus vulputate eleifend molestie nec neque. Phasellus luctus eget quam
              vitae tincidunt. In hac habitasse platea dictumst. Donec iaculis, eros eget commodo mollis, nisi augue maximus
              dui, nec vestibulum libero risus pretium erat. Morbi nec porttitor nisl, id porta nulla. Ut rutrum enim vitae
              magna porttitor sollicitudin. Cras porta dignissim eros, a tempus risus consectetur in. Vivamus ornare condimentum
              diam non varius. Sed ut dolor in turpis placerat dapibus vitae sit amet libero. Sed maximus porta neque nec
              sollicitudin. Donec euismod ante in iaculis faucibus. Proin blandit elit nibh, ac pharetra tellus iaculis quis.
              Ut vestibulum eu dolor dapibus ullamcorper.</p>
          </div>
          <br /> 
          <br />
          <div class="borderAboutus">
            <h4><img src="/modules/core/client/img/icons/manager.svg" width="40px" height="40px" alt="Chris"> Chris Toleman</h4>
            <p>Hi, my name is Chris. I took an interest to coding around 3 and a half years ago. I saw my first web page built in HTML by my friend and it really intrigued me as to how it worked. From there I went to Sligo IT to study Web Development and have really enjoyed the transition of going from basic HTML and CSS to more complex languages such as ASP.NET and Javascript. The biggest challenge was to learn the MEAN.JS stack to delveop this site but it has been very beneficial to learn. I am motivated to continue learning more about web development and hopefully one day become a free lancer and work for myself. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
