<div class="headerline2">

</div>
<div class="headerline1">

</div>
<div id="footer">
  <div class="row">
    <div class="col-sm-4">
      <div class="footerList">
        
        <h3>Social Media</h3>
        <ul>
          <li><a href="https://www.facebook.com/itsligo/?fref=ts"><img src="/modules/core/client/img/icons/facebook.svg" width="40px" height="40px" alt="facebook link"></img></a><a href="https://www.facebook.com/itsligo/?fref=ts"><p>Like Sligo IT on Facebook</p></a></li>
          <li><a href="https://twitter.com/itsligo?lang=en"><img src="/modules/core/client/img/icons/twitter.svg" width="40px" height="40px" alt="twitter link"></img></a><a href="https://twitter.com/itsligo?lang=en"><p>Follow Sligo IT on Twitter</p></a></li>
          <li><a href="https://www.instagram.com/explore/locations/44292/"><img src="/modules/core/client/img/icons/instagram.svg" width="40px" height="40px" alt="instagram link"></img></a><a href="https://www.instagram.com/explore/locations/44292/"><p>Follow Sligo IT on Instagram</p></a></li>
          <li><img src="/modules/core/client/img/icons/snapchat.svg" width="40px" height="40px" alt="snapchat name"><p>Add the SU guys on snapchat-itsligosu</p></img></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="footerList">
        <h3>Agreements</h3>
        <ul>
          <li><a href="https://www.itsligo.ie/terms-of-use/">Terms of use</a></li>
          <li><a href="https://www.itsligo.ie/privacy/">Privacy Policy</a></li>
          <li><a href="https://www.itsligo.ie/foi/">Freedom of Information</a></li>
          <li><a href="https://www.itsligo.ie/accessibility/">Accessibility</a></li>
        </ul>
      </div>
       <img id="itsligologo" src="/modules/core/client/img/icons/itsligologo.png"  alt="it sligo logo" />
    </div>
    
    <div class="col-sm-4">
      <div class="footerList">
        <h3>Other</h3>
        <ul>
          <li><a href="#">Sitemap</a></li>
          <li></li>
          <li><a href="/about">About Us</a></li>
          <li></li>
        </ul>
      </div>
      <img id="studenthublogo" src="/modules/core/client/img/icons/proj300-logo.png"   alt="it sligoHub logo" /> 
    </div>
    
  </div>
  
  
</div>
<p id="footerClose">&copy; 2017 BAMSDEV</p>