<div class="headerline2">

</div>
<div class="headerline1">

</div>
<div id="footer">
  <div class="row">
    <div class="col-sm-4">
      <div class="footerList">
        <h3>Social Media</h3>
        <ul>
          <li><a href="https://www.facebook.com/itsligo/?fref=ts"><img src="meanjsstack/core/img/socialMediaIcons/facebook.png" width="40px" height="40px" alt="facebook link"></img></a><p>Like Sligo IT on Facebook</p></li>
          <li><a href="https://twitter.com/itsligo?lang=en"><img src="twitter.png" width="40px" height="40px" alt="twitter link"></img></a><p>Follow Sligo IT on Twitter</li>
          <li><a href="https://www.instagram.com/explore/locations/44292/"><img src="instagram.png" width="40px" height="40px" alt="instagram link"></img></a><p>Follow on Instagram</li>
          <li><img src="snapcode.png" width="40px" height="40px" alt="snapchat name"><p>Add the SU guys on snapchat-itsligosu</p></img></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="footerList">
        <h3>Agreements</h3>
        <ul>
          <li><a href="https://www.itsligo.ie/terms-of-use/">Terms of use</a></li>
          <li><a href="https://www.itsligo.ie/privacy/">Privacy Policy</a></li>
          <li><a href="https://www.itsligo.ie/foi/">Freedom of Information</a></li>
          <li><a href="https://www.itsligo.ie/accessibility/">Accessibility</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="footerList">
        <h3>Other</h3>
        <ul>
          <li><a href="#">Sitemap</a></li>
          <li></li>
          <li><a href="#">About Us</a></li>
          <li></li>
        </ul>
      </div>
    </div>
    
  </div>
  <p id="footerClose">&copy; BAMSDEV 2017</p>
</div>
