<div class="headerline2">

</div>
<div class="headerline1">

</div>
<div id="footer">
  <div class="row">
    <div class="col-sm-4">
      <div class="footerList">
        <h3>About</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="footerList">
        <h3>College</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="footerList">
        <h3>Other</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
