<section ng-show="vm.authentication.user">
  <div class="wrappers" id="currInfo">
    <div class="row">
      <div class="col-sm-4">
        <div class="row coralbg white">
          <div class="col-md-12 no-pad">
            <div class="user-pad">
              <h3>Welcome back, {{vm.authentication.user.displayName}}</h3>
              <h4 class="white"><i class="fa fa-check-circle-o"></i> course</h4>
              <h4 class="white"><i class="fa fa-twitter"></i> Department</h4>
              <a type="button" href="/settings/profile" class="btn btn-labeled btn-info" href="#">
                <span class="btn-label"><i class="fa fa-pencil"></i></span>Profile</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row overview">
          <div class="col-md-4 user-pad text-center">
            <h3><i class="glyphicon glyphicon-star-empty"></i>CURRENT CLASS</h3>
            <h4>class</h4>
          </div>
          <div class="col-md-4 user-pad text-center">
            <h3><i class="wi wi-owm-{{weatherstatus}}"></i>WEATHER</h3>
            <h4>{{weather}} C</h4>
          </div>
          <div class="col-md-4 user-pad text-center">
            <h3><i class="glyphicon glyphicon-arrow-right"></i>NEXT CLASS</h3>
            <h4>class</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="iconContainer">
    <div class="wrapper">
      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-4" ng-repeat="icon in icons">
          <div class="homeIcons">
            <a href={{icon.state}}>
              <span class="{{icon.icon}} {{icon.name}}Color" aria-hidden="true"></span>

            </a>
            <p>{{icon.name}}</p>
          </div>
        </div>
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</section>
{{vm.authentication.user.coursename}}
<section ng-hide="vm.authentication.user">
  <h1>MUST BE LOGGED IN TO VIEW THE DASHBOARD</h1>
</section>
