<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="/" id="homeLink">Home</a>
      </li>
      <li>
        <a href="/calendars" id="calendarLink">Calendar</a>
      </li>
      <li>
        <a href="#" id="emailLink">Email</a>
      </li>
      <li>
        <a href="/timetables" id="timetableLink">Timetable</a>
      </li>
      <li>
        <a href="/collegemaps" id="mapLink">Map</a>
      </li>
      <li>
        <a href="#" id="servicesLink">Services</a>
      </li>
      <li>
        <a href="/contact" id="contactsLink">Contact</a>
      </li>
    </ul>
  </div>