@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}

/* Sidebar login */
.sidebarContainer form fieldset{
  margin: 0px;
  padding: 0px;
}
.sidebarContainer{
  margin-left: 10px;
  margin-right: 10px;
}
#loginSideBar form{
  width: 300px;
}
.sidebarInput{
  padding-top: 10px;
  border: 0px;
  outline: 0px;
  border-radius: 0px;
  background-color: #F7F7F7;
  width: 100%;
  height: 50px;
  border-bottom: 8px solid;
  border-bottom-color: #026990;
  font-size: 2em;
}
.centertext input[type="submit"]{
  border: 0px;
  outline: 0px;
  border-radius: 0px;
  text-align: center;
  width: 100px;
  height: 50px;
  font-size: 2em;
  background-color: #A0CF61;
  color: white;
  border-radius: 5px;
}
.centertext{
  text-align: center;
}

.loginPage{
  background-color: #4fcefc;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 10px 6px -6px black;
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin: 15px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-success {
    border-color: #80D651;
}
.signin{
  margin: 15px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* Profile Overview */
#overview-profile table{
  margin: 20px;
  padding: 20px;
}
#overview-profile h2{
  border-bottom: solid gray 2px;
}
#overview-profile tbody{
  font-size: 2em;
}
#overview-profile tbody tr th{

}