@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}

/* Sidebar login */
.sidebarContainer form fieldset{
  margin: 0px;
  padding: 0px;
}
.sidebarContainer{
  margin-left: 10px;
  margin-right: 10px;
}
#loginSideBar form{
  width: 300px;
}
.sidebarInput{
  padding-top: 10px;
  border: 0px;
  outline: 0px;
  border-radius: 0px;
  background-color: #F7F7F7;
  width: 100%;
  height: 50px;
  border-bottom: 8px solid;
  border-bottom-color: #026990;
  font-size: 2em;
}
.centertext input[type="submit"]{
  border: 0px;
  outline: 0px;
  border-radius: 0px;
  text-align: center;
  width: 100px;
  height: 50px;
  font-size: 2em;
  background-color: #A0CF61;
  color: white;
  border-radius: 5px;
}
.centertext{
  text-align: center;
}

