svg #GreenLayer_main{

}

svg #GreenLayer_main:hover{

}
svg #block_p:hover{
 background-color: red;
}
svg{
   
}
svg .blocks{
  stroke-width: 4;
  stroke: black;
  fill: #99ccff;

}
.cls-1 {
    fill: #ccffcc;
}
.cls-1,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke: black;
    stroke-miterlimit: 10;
}
.cls-2,
.cls-6 {
    fill: #cccccc;
    stroke: black;
}
.cls-3 {
    fill: #01007f;
}
.cls-4 {
    fill: #52b552;
}
.cls-5 {
    fill: #3e6600;
}
.cls-7 {
    fill: #550019;
}
.cls-8 {
    fill: none;
}


.mapContainer{
    text-align: center;
    overflow: scroll;
}