svg{
    stroke-width: 2;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}

svg:hover{
    cursor: pointer;
    stroke-width: 54;
    stroke: #000;
}
