<div class="Containers" ng-init="loadContactsIntoScope()">
  <div class="headerText">
    <a href="/" type="button" class="btn btn-lg btn-default">
      <span class="glyphicon glyphicon-triangle-left"></span>&nbsp; Back
    </a>
    <h2>Contacts</h2>
  </div>
  <div class="wrapper">
    <form class="form-inline" ng-hide="!vm.authentication.user">
      <h3>Add New Contact</h3>
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control" id="name inlineFormInput" placeholder="Jane Doe" ng-model="addContactForm.name">

      <label class="sr-only" for="inlineFormInput">Email</label>
      <input type="text" class="form-control" id="email inlineFormInput" placeholder="janedoe@email.com" ng-model="addContactForm.email">

      <label class="sr-only" for="inlineFormInput">Number</label>
      <input type="text" class="form-control" id="number inlineFormInput" placeholder="0870123456" ng-model="addContactForm.number">

      <button type="submit" class="btn" ng-click="addContact()">Add Contact</button>
    </form>

    <div class="panel-group" id="accordion">

      <div class="panel panel-default" ng-repeat="department in contacts">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse">{{department.department}}</a>
          </h4>
        </div>
        <div id="collapse" class="panel-collapse collapse in" ng-repeat="contact in department.contacts">
          <div class="panel-body">
            <div>
              <p><strong>Name:</strong> {{contact.name}}</p>
              <p><strong>Title:</strong> {{contact.jobTitle}}</p>
            </div>
            <div class="comment-text">
              <strong>Email:</strong> {{contact.email}}
            </div>
            <div class="comment-text">
              <strong>Number:</strong> {{contact.phoneNumber}}
            </div>
            <div class="action">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse">Your Contacts</a>
      </h4>
    </div>
    <div id="collapse" class="panel-collapse collapse in" ng-repeat="contact in userContacts">
      <div class="panel-body">
        <div>
          <p><strong>Name:</strong> {{contact.name}}</p>
        </div>
        <div class="comment-text">
          <strong>Email:</strong> {{contact.email}}
        </div>
        <div class="comment-text">
          <strong>Number:</strong> {{contact.phoneNumber}}
        </div>
        <div class="action">

        </div>
      </div>
    </div>
  </div>
</div>