<section>
  <div class="page-header">
    <h1>Timetables</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="timetable in vm.timetables"
       ui-sref="timetables.view({ timetableId: timetable._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="timetable.created | date:'mediumDate'"></span>
        by
        <span ng-if="timetable.user" ng-bind="timetable.user.displayName"></span>
        <span ng-if="!timetable.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="timetable.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.timetables.$resolved && !vm.timetables.length">
    No Timetables yet, why don't you <a ui-sref="timetables.create">create one</a>?
  </div>
</section>
