body {
	overflow-x: hidden;
	background-color: #026990;
	margin: 0px;
}
.btns{
	margin: 10px;
	position: absolute;
}


/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 350px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #f7f7f7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 350px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
	text-align: center;
	top: 0;
	width: 350px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	line-height: 2em;
	font-size: 2.5em;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
	width: 100%;
	background-color: rgba(0,0,0,0.2);

}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(160, 154, 154, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}
.profileImg{
	border-radius: 100px;
}


/* Color Changes Sidebar */

.CalendarColor:hover{
	color: #FBB735;
}

.ContactsColor:hover {
	color: #E98931;
}

.EmailsColor:hover{
	color: #EB403B;
}

.MapColor:hover {
	color: #A52A32;
}

.ServicesColor:hover {
	color: #6C2A6A;
}

.TimetableColor:hover {
	color: #5C4399;
}

#homeLink:hover,
#homeLink:active,
#homeLink:focus {
	background-color: #840851;
	color: white;
}

#moodleLink:hover,
#moodleLink:active,
#moodleLink:focus {
	background-color: #ff3300;
	color: white;
}
#libraryLink:hover,
#libraryLink:active,
#libraryLink:focus {
	background-color: #0066cc;
	color: white;
}
#examsLink:hover,
#examsLink:active,
#examsLink:focus {
	background-color: #cc3399;
	color: white;
}
#itsLink:hover,
#itsLink:active,
#itsLink:focus {
	background-color: #33cc33;
	color: white;
}

@media(min-width:768px) {

}
.marker{
	text-transform: uppercase;
}

#menu-toggle {
	background-color: #026990;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 5px;
}
#menu-toggle span{
	color: white;
	background-color: none;
	font-size: 50px;
	vertical-align: middle;
	padding: 5px;

}
#menu-toggle:focus {
	outline: 0;
}

#menu-toggle.toggled {
	margin-left: 5px;
}
.blocks:hover {
	background-color: red;
}

/* HomePage Changes */
.allHeaders{
	background-color: #f7f7f7;
	height: 86px;
	margin: 0px;
	padding: 0px;
	border-bottom: 2px solid #e6f8ff;


}
.headerline1{
	width: 100%;
	border-bottom: 4px solid#cdf1fe;
}
.headerline2{
	width:100%;
	border-bottom: 4px solid #9be3fd;
}
.headerline3{
	width: 100%;
	border-bottom: 4px solid #4fcefc;
}

.studentHubCont{
	float: right;
	margin-right: 10px;

}
.headerLogo{
	width:150px;
	height:150px;
}

.chatIcons{
	float: right;
	text-align: center;
	padding: 20px;
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}
.chatIcons a{
	height: 100px;
	width: 100px;
}
.chatIcons span{
	color: #f7f7f7;
	font-size: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-decoration: none;
	margin: 0px;
	padding: 0px;

}

.chatIcons a:hover{
	text-decoration: none;
}

/* Tooltip text */
.chatIcons .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #026990;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 24px;
	line-height:normal;
	font-family: 'Dosis', sans-serif;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.chatIcons:hover .tooltiptext {
    visibility: visible;
}

/*.studentHub{
	display: inline;
	font-size: 50px;
}
#student{
	font-family: 'Dosis', sans-serif;
}
#hub{
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}*/
.headerUserInfo{
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
.headerUserInfo img{
	border: 2px solid #0394c9;
}
.iconContainer{
	padding: 10px;

}
.homeIcons{
	text-align: center;
	padding: 20px;
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.homeIcons a{
	height: 150px;
	width: 150px;
}
.homeIcons p{
	font-size: 2.5em;
	font-family: 'Dosis', sans-serif;

}
.homeIcons span{
	color: #0394c9;
	font-size: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-decoration: none;
	margin: 0px;
	padding: 0px;

}

.homeIcons a:hover{
	text-decoration: none;
}
.wrapper{
	background-color: #f7f7f7;
	border: 2px solid white;
	border-radius: 5px;
}
.wrappers{
	background-color: #f7f7f7;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
}

.loginStuff{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
.loginStuff a{
	padding: 20px;
	font-size: 1.5em;
}
.loginStuff a:hover{
	text-decoration-style: none;
	text-decoration: none;
}

#currInfo{
	margin-top: 20px;
	margin-bottom: 20px;
}
.borderAboutus{
	border: solid 1px #38B0DE;
}
.aboutusInfo{
	background-color: 	#efefef;
}
.aboutusInfo p{
	text-align: center;
	color: black;
}

.aboutusInfo h{
	text-align: center;
}
#itsligologo{
	width:100%;
	height:auto;
	max-height: 125px;
	max-width:375px;
	margin-top: 25px;
	margin-left:auto;
	margin-right: auto;
}
#studenthublogo{
	width:100%;
	height:auto;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	margin-left: 110px;
	
}
#footer{	
	height: auto;
	background-color: #f7f7f7;
	border-top: white solid 1px;
	margin-bottom: 0px;
}
.footerList h3{
	text-align: center;
}
.footerList{
	text-align: left;
	background-color: #e6e6e6;
	border-radius: 5px;
	margin-left: 15%;
	margin-right: 25%;
}
.footerList li  {
	list-style-type: none;

}
.footerList li a{
	text-decoration: none;
	color: #000;
}
.footerList li a:hover{
	color: #38B0DE;
}
.footerList li p:hover{
	color: #38B0DE;
}
#footerClose{
	text-align: center;
	color: white;
}

.marginFot{
	margin-bottom: 250px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}
.tables{
	padding: 5px;
	border-bottom: 1px solid black;
}
 /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
        .wrappers h3{
			font-size: 1em;
		}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
		.wrappers h3{
			font-size: 1em;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.wrappers h3{
			font-size: 1.5em;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.wrappers{
			margin-left: 20%;
			margin-right: 20%;
		}
		.iconContainer{
			margin-left: 20%;
			margin-right: 20%;
		}
    }
