body {
	overflow-x: hidden;
	background-color: #d1d1d1;
}
.btn{
	margin: 10px;
	position: absolute;
}
.layoutChanges{

}

/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #f7f7f7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 1.5em;
	line-height: 2.5em;
	font-size: 2.5em;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
	width: 90%;
	float: left;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}


/* Color Changes Sidebar */

#homeLink:hover,
#homeLink:active,
#homeLink:focus {
	background-color: #FBB735;
	color: white;
}

#calendarLink:hover,
#calendarLink:active,
#calendarLink:focus {
	background-color: #E98931;
	color: white;
}

#emailLink:hover,
#emailLink:active,
#emailLink:focus {
	background-color: #EB403B;
	color: white;
}

#timetableLink:hover,
#timetableLink:active,
#timetableLink:focus {
	background-color: #A52A32;
	color: white;
}

#mapLink:hover,
#mapLink:active,
#mapLink:focus {
	background-color: #6C2A6A;
	color: white;
}

#servicesLink:hover,
#servicesLink:active,
#servicesLink:focus {
	background-color: #5C4399;
	color: white;
}

#contactsLink:hover,
#contactsLink:active,
#contactsLink:focus {
	background-color: #430549;
	color: white;
}

@media(min-width:768px) {

}

#menu-toggle {
	background-color: #026990;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#menu-toggle span{
	color: white;
	background-color: none;
	font-size: 50px;
	vertical-align: middle;

}

#menu-toggle.toggled {
	margin-left: 5px;
}
.blocks:hover {
	background-color: red;
}

/* HomePage Changes */
.allHeaders{
	background-color: #f7f7f7;
	height: 86px;
	margin: 0px;
	padding: 0px;
}
.studentHubCont{
	float: right;
	margin-right: 10px;
}
.studentHub{
	display: inline;
	font-size: 50px;
}
#student{
	font-family: 'Dosis', sans-serif;
}
#hub{
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}
.homeContainer{

}
